.sidebar {
    position: fixed;
    z-index: 100;
    top: var(--header-height);
    left: 0;
    width: var(--sidebar-width);
    height: calc(100vh - 1.3rem * 2);
    background-color: var(--light-background);
    border: 1px solid var(--light-text);
    border-color: transparent var(--light-text) transparent transparent;
    transition: left .3s linear, width .3s linear;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flexsta;
}

.naslov {
    font-size: 1.1rem;
    margin: 1em 0 0 1em;
}

.podnaslov {
    font-size: 0.9rem;
    color: var(--light-text);
    margin: 0.4em;
    margin-left: 3em;
}

.naslov, .podnaslov {
    cursor: pointer;
    transition: scale 0.1s ease-in-out;
    width: fit-content;
}

.naslov:hover, .podnaslov:hover {
    scale: 1.08;
}

.sidebar>div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        left: var(--sidebar-width-negative);
    }

    .podnaslov {
        margin: 0 .4em;
    }

    .sidebar>div {
        align-items: center;
    }
    
    .opened {
        left: 0;
        width: 100vw;
    }
}