.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper>*:last-child {
    min-height: 200vh;
    padding-top: calc(1.3rem * 2);

    display: flex;
    flex-direction: row;
    padding-left: var(--sidebar-width);
}

@media only screen and (max-width: 768px) {
    .wrapper>*:last-child {
        padding-left: 0;
    }
}